body{
    background-color: blue;
    background-color: green;
    background-color: brown;
    background-color: yellow;
    background-color: blue;
    background-color: green;
    background-color: brown;
    background-color: yellow;
    background-color: block;
    
}
h1{
    font-size: 40;
    font-size-adjust: initial;
}